extends ../layout/index.pug
block contenido
    main.container.mt-5
        .row.text-justify
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam incidunt accusamus odio dolorum natus aperiam architecto obcaecati optio, dicta rem impedit ducimus accusantium perferendis, quas saepe illo possimus ex porro fugit blanditiis harum praesentium? Earum praesentium itaque recusandae dolore provident?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi temporibus quisquam omnis sit. Corporis quaerat sit officiis tempora fugiat in cum et voluptatum, dolorem dignissimos est laudantium ducimus vel?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos reiciendis debitis eligendi repellat molestias fugit blanditiis enim vitae non, quisquam amet labore laboriosam ipsam magni aperiam reprehenderit. Minus, quasi unde.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid")
                    h2.m-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptatibus numquam, laborum mollitia ad veritatis quam cum autem sequi. Quisquam.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid")
                    h2.m-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptatibus numquam, laborum mollitia ad veritatis quam cum autem sequi. Quisquam.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid")
                    h2.m-4 Mejor Precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptatibus numquam, laborum mollitia ad veritatis quam cum autem sequi. Quisquam.